/* Basislayout */

html, body {
    height: 100%;
    padding: 0;
    background-color: rgb(252, 252, 252);  
    
    color: #303030;
    font: Verdana, Arial, Sans-Serif;
}


main {
    margin: 0 auto;
    width: 700px;
    position: relative;
}


article {
    text-align: justify;
    clear:both;
    background-color:aquamarine;
}


header {
    color: rgb(108, 71, 156);
    text-align: center;
}


footer {
    text-align: center;
    padding-bottom: 10px;
    clear: both;
}


/* specifieke stijlen */

.zweefRechts {
float: right;
width:375px;
}

article#middenOnder {
clear:both;
}

img.onderNav {
    float: left;
    padding:15px;
    width: 145px;
}
img.zweefLinks {
    float: left;
    width: 300px;
    margin:5px;
}

img.naarRechts {
    width:300px;
}

img.naarLinks {
    width:300px;
}
.naarLinks {
    float:left;
}

.naarRechts {
    float:right;  
}

.smalltext {
    font-size: 0.7em;
}

a {
    color: rgb(205, 135, 226);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


/* navigatiebalk */
nav ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    background-color: #988ebb;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #a890c7;
}

nav li a.active {
    background-color: rgb(139, 115, 197);
}







